# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x] # [14.x, 16.x, 18.x]
    steps:
    - uses: schneegans/dynamic-badges-action@v1.4.0
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        auth: ${{ secrets.GIST_SECRET }}
        gistID: <gist-ID>
        filename: test.json
        label: Hello
        message: World
        color: orange
    - run: npm ci
    - run: npm run build --if-present
 
